.status-tooltip-icon {
  font-size: 1.15rem;
}

.no-route-match {
  margin: 5rem 0;
}

.pipeline-graph-container {
  margin: 0 1rem;
}

.edit-icon {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 20px;
  border-style: solid;
  background-color: #72cc4a;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px 15px;
}
