*,
*:before,
*:after {
  box-sizing: border-box;
}

*:before,
*:after {
  clear: both;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.header-margin {
  margin: 1.75rem 0;
}

.list-min-height {
  min-height: 35rem;
}

.site-layout {
  margin-left: 200px;
}

.site-layout-collapsed {
  margin-left: 80px;
  transition-duration: 0.25s;
}

.page-container {
  margin: 2rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem;
}

.top-gutter-width {
  margin-top: 1rem;
}

.relative-position {
  position: relative;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.spin-layout {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
